{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
</head>
<body>
    <form method="POST" action="{% url 'cities:create' %}" autocomplete='off'>
        {% csrf_token %}

        <div class="form-group mb-3">
            <label>{{ form.name.label_tag }}</label>
            {{ form.name.errors }}
            {% render_field form.name hx-post="http://127.0.0.1:8000/cities/check-name/" hx-target="#name-err" hx-trigger="keyup" %}
            <div class="text-danger mt-2" id="name-err"></div>
        </div>
        <div>
            <label>{{ form.population.label_tag }}</label>
            {{ form.population.errors }}
            {% render_field form.population class="form-control" %}
        </div>
        
        <button type="submit" class="btn btn-success mt-2">Create</button>
    </form>
</body>
</html>